appnope==0.1.0
BeautifulSoup==3.2.1
decorator==4.0.4
ecdsa==0.13
gnureadline==6.3.3
ipython==4.0.0
ipython-genutils==0.1.0
Jinja2==2.8
lxml==3.5.0b1
MarkupSafe==0.23
ncclient==0.4.3
paramiko==1.15.3
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
pycrypto==2.6.1
simplegeneric==0.8.1
traitlets==4.0.0
wheel==0.24.0
