<config>
  <interface-configurations xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-ifmgr-cfg">
   <interface-configuration>
    <active>act</active>
    <interface-name>Loop-back100</interface-name>
    <interface-virtual/>
   </interface-configuration>
  </interface-configurations>
</config>
