<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <interface>
      <BDI>
        <name>{{NAME}}</name>
		<shutdown operation="remove"/>
      </BDI>
    </interface>
  </native>
</config>