<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <interface>
      <BDI operation="remove">
        <name>{{NAME}}</name>
      </BDI>
    </interface>
  </native>

</config>