<config xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <router>
      <bgp xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-bgp">
        <id>2</id>
        <bgp>
          <router-id>192.168.1.1</router-id>
        </bgp>
      </bgp>
    </router>
  </native>
</config>
