<config>
  <policy-manager xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-infra-policymgr-cfg">
   <class-maps>
    <class-map>
     <type>qos</type>
     <name>dscp-31</name>
     <class-map-mode-match-any/>
     <match>
      <dscp>31</dscp>
     </match>
    </class-map>
   </class-maps>
  </policy-manager>
</config
