<config>
  <policy-manager xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-asr9k-policymgr-cfg">
   <class-maps>
    <class-map nc:operation="delete">
     <type>qos</type>
     <name>EINARNN_3</name>
    </class-map>
    <class-map nc:operation="delete">
     <type>qos</type>
     <name>EINARNN_4</name>
    </class-map>
    <class-map nc:operation="delete">
     <type>qos</type>
     <name>EINARNN_5</name>
    </class-map>
    <class-map nc:operation="delete">
     <type>qos</type>
     <name>EINARNN_6</name>
    </class-map>
   </class-maps>
  </policy-manager>
</config>
