<config>
  <policy-manager xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-infra-policymgr-cfg">
   <class-maps>
    <class-map nc:operation="delete">
     <type>qos</type>
     <name>dscp-31</name>
    </class-map>
   </class-maps>
  </policy-manager>
</config
