<config>
  <policy-manager xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-infra-policymgr-cfg">
   <class-maps>
    <class-map>
     <type>qos</type>
     <name>FOO</name>
     <class-map-mode-match-any/>
     <match>
      <dscp>1</dscp>
      <dscp>2</dscp>
      <dscp>3</dscp>
      <dscp>4</dscp>
      <dscp>5</dscp>
      <dscp>6</dscp>
      <dscp>7</dscp>
      <dscp>8</dscp>
      <dscp>9</dscp>
      <dscp>10</dscp>
      <dscp>11</dscp>
      <dscp>12</dscp>
      <dscp>13</dscp>
      <dscp>14</dscp>
      <dscp>15</dscp>
      <dscp>16</dscp>
     </match>
    </class-map>
   </class-maps>
  </policy-manager>
</config>

