<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <arp xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-arp">
      <vrf>
        <vrf-name>net1</vrf-name>
        <arp-entry>
          <ip>{{IP}}</ip>
          <hardware-address>fa16.3ec5.64f4</hardware-address>
          <arp-type>ARPA</arp-type>
          <alias/>
        </arp-entry>
      </vrf>
    </arp>
  </native>
</config>
