<config>
 <bgp xmlns="http://openconfig.net/yang/bgp">
   <neighbors>
    <neighbor nc:operation='delete'>
     <neighbor-address>{{NEIGHBOR_ADDR}}</neighbor-address>
    </neighbor>
   </neighbors>
  </bgp>
</config>
