<native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
  <interface>
    <VirtualPortGroup>
      <name>0</name>
      <ip>
        <address>
          <primary>
            <address>192.168.10.1</address>
            <mask>255.255.255.0</mask>
          </primary>
        </address>
      </ip>
      <mop>
        <enabled>false</enabled>
        <sysid>false</sysid>
      </mop>
    </VirtualPortGroup>
  </interface>
  <iox/>
</native>
