<nc:config xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
  <nacm xmlns="urn:ietf:params:xml:ns:yang:ietf-netconf-acm">
    <rule-list>
      <name>admin</name>
      <group nc:operation="remove">PRIV14</group>
    </rule-list>
  </nacm>
</nc:config>