<config>
  <interfaces xmlns="http://openconfig.net/yang/interfaces">
   <interface>
    <name>GigabitEthernet0/0/0/1</name>
    <config>
     <description>Configured by Widget</description>
    </config>
   </interface>
  </interfaces>
</config>
