<config>
  <policy-manager xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-infra-policymgr-cfg">
   <policy-maps>
    <policy-map nc:operation="delete">
     <type>qos</type>
     <name>testtest</name>
    </policy-map>
   </policy-maps>
  </policy-manager>
</config
