
<config>
  <telemetry-model-driven xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-telemetry-model-driven-cfg">
   <destination-groups>
    <destination-group>
     <destination-id>DGroup1</destination-id>
     <destinations>
      <destination nc:operation="delete">
       <address-family>ipv6</address-family>
      </destination>
     </destinations>
    </destination-group>
   </destination-groups>
  </telemetry-model-driven>
</config>
