<config>
    <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
        <vrf>
            <definition operation="replace">
                <name>beae927f77b04f6e9c00265d999e9c04</name>
                <description>beae927f-77b0-4f6e-9c00-265d999e9c04</description>
                <address-family>
                    <ipv4></ipv4>
                </address-family>
            </definition>
        </vrf>
    </native>
</config>
