<config>
  <netconf-yang xmlns="http://cisco.com/yang/cisco-self-mgmt">
    <cisco-odm xmlns="http://cisco.com/yang/cisco-odm">
      <polling-enable>true</polling-enable>
    </cisco-odm>
  </netconf-yang>
</config>
