<native>
    <interface>
        <GigabitEthernet>
            <name/>
            <switchport/>
            <description/>
            <shutdown/>
        </GigabitEthernet>
    </interface>
</native>