<!--
Description:  This filter will select the sessions, statistics and stream from netconf-state

-->
{# Jinja2 comments #}

<netconf-state xmlns="urn:ietf:params:xml:ns:yang:ietf-netconf-monitoring">
    <sessions/>
    <statistics/>
    <streams xmlns="http://tail-f.com/yang/netconf-monitoring"/>
  </netconf-state>