{# comment:  This is an example of the openconfig interfaces filter. Need to explicitly gert config vs oper-data #}

<interfaces xmlns="http://openconfig.net/yang/interfaces">
    <interface>
        <name>{{INTF_NAME}}</name>
      <config>
      </config>
      <subinterfaces/>
    </interface>
</interfaces>