<ipv4-acl-and-prefix-list xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-ipv4-acl-cfg">
  <accesses>
    <access>
      <access-list-name>RUBBLE1</access-list-name>
      <access-list-entries>
        <access-list-entry>
          <sequence-number>666</sequence-number>
        </access-list-entry>
        <access-list-entry>
          <sequence-number>777</sequence-number>
        </access-list-entry>
      </access-list-entries>
    </access>
  </accesses>
</ipv4-acl-and-prefix-list>
