<interfaces xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-pfi-im-cmd-oper">
  <interface-xr>
    <interface>
      <interface-name>{{INTF_NAME}}</interface-name>
      <interface-statistics/>
    </interface>
  </interface-xr>
</interfaces>
