<interfaces xmlns="http://openconfig.net/yang/interfaces">
  <interface>
    <name>{{INTF_NAME}}</name>
    <subinterfaces>
      <subinterface>
        <index>{{SUBINTF_INDEX}}</index>
      </subinterface>
    </subinterfaces>
  </interface>
</interfaces>
