
<qos xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-qos-ma-oper">
  <interface-table>
    <interface>
      <interface-name>{{INTF_NAME}}</interface-name>
      <input/>
    </interface>
  </interface-table>
</qos>

