<environmental-monitoring xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-asr9k-sc-envmon-admin-oper">
  <racks>
    <rack>
      <slots>
	<slot>
	  <modules>
	    <module>
	      <sensor-types>
		<sensor-type>
		  <sensor-names>
		    <sensor-name>
		      <value-detailed/>
		    </sensor-name>
		  </sensor-names>
		</sensor-type>
	      </sensor-types>
	    </module>
	  </modules>
	</slot>
      </slots>
    </rack>
  </racks>
</environmental-monitoring>
