<config>
      <netconf-yang xmlns="http://cisco.com/yang/cisco-self-mgmt">
        <cisco-odm xmlns="http://cisco.com/yang/cisco-odm">
          <polling-enable>true</polling-enable>
          <on-demand-default-time>30000</on-demand-default-time>
          <on-demand-enable>false</on-demand-enable>
          <actions>
            <action-name>parse.showACL</action-name>
            <polling-interval>120000</polling-interval>
            <mode>poll</mode>
          </actions>
          <actions>
            <action-name>parse.showArchive</action-name>
            <polling-interval>120000</polling-interval>
            <mode>poll</mode>
          </actions>
          <actions>
            <action-name>parse.showEnvironment</action-name>
            <polling-interval>120000</polling-interval>
            <mode>poll</mode>
          </actions>
          <actions>
            <action-name>parse.showFlowMonitor</action-name>
            <polling-interval>120000</polling-interval>
            <mode>poll</mode>
          </actions>
          <actions>
            <action-name>parse.showInterfaces</action-name>
            <polling-interval>120000</polling-interval>
            <mode>poll</mode>
          </actions>
          <actions>
            <action-name>parse.showIpRoute</action-name>
            <polling-interval>120000</polling-interval>
            <mode>poll</mode>
          </actions>
          <actions>
            <action-name>parse.showMemoryStatistics</action-name>
            <polling-interval>120000</polling-interval>
            <mode>poll</mode>
          </actions>
          <actions>
            <action-name>parse.showPlatformSoftware</action-name>
            <polling-interval>120000</polling-interval>
            <mode>poll</mode>
          </actions>
          <actions>
            <action-name>parse.showProcessesCPU</action-name>
            <polling-interval>120000</polling-interval>
            <mode>poll</mode>
          </actions>
          <actions>
            <action-name>parse.showProcessesMemory</action-name>
            <polling-interval>120000</polling-interval>
            <mode>poll</mode>
          </actions>
        </cisco-odm>
      </netconf-yang>
</config>
