<config>
      <netconf-yang xmlns="http://cisco.com/yang/cisco-self-mgmt">
        <cisco-odm xmlns="http://cisco.com/yang/cisco-odm" nc:operation="delete">
        </cisco-odm>
      </netconf-yang>
</config>