<config>
<native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
      <interface>
        <GigabitEthernet>
          <name>{{INTF_NAME}}</name>
          <shutdown nc:operation="remove"></shutdown>
        </GigabitEthernet>
      </interface>
    </native>
</config>