<native xmlns="http://cisco.com/ns/yang/ned/ios">
      <interface>
        <GigabitEthernet>
          <name>{{INTF_NAME}}</name>
          <switchport>
            <access>
              <vlan>
                <vlan>{{VLAN}}</vlan>
              </vlan>
            </access>
          </switchport>
        </GigabitEthernet>
      </interface>
    </native>
