<config>
<native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <router>
      <ospf xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-ospf">
        <id>{{ROUTER_ID}}</id>
        <network nc:operation="remove">
          <ip>{{NETWORK}}</ip>
          <mask>{{MASK}}</mask>
        </network>
      </ospf>
    </router>
  </native>

</config>