<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <policy>
      <class-map xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-policy" nc:operation="remove">
        <name>{{C_NAME}}</name>

      </class-map>
    </policy>
  </native>
</config>