<config>
<native xmlns="http://cisco.com/ns/yang/ned/ios">
      <interface>
        <GigabitEthernet>
          <name>{{INTF_NAME}}</name>
          <shutdown/>
        </GigabitEthernet>
      </interface>
    </native>
</config>