<config>
<native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <ip>
      <access-list>
        <extended xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-acl"  nc:operation="remove" >
          <name>{{ACL_NAME}}</name>
        </extended >
      </access-list>
    </ip>
  </native>
</config>