<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <policy>
      <policy-map xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-policy" nc:operation="remove">
        <name>{{P_NAME}}</name>

        </policy-map>
     </policy>
  </native>
</config>