<config xmlns="urn:ietf:params:xml:ns:netconf:base:1.0"
  xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <ip>
      <access-list>
        <extended nc:operation="replace"
          xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-acl">
          <name>TESTTEST</name>
          <access-list-seq-rule>
            <sequence>12</sequence>
            <ace-rule>
              <action>deny</action>
              <protocol>ip</protocol>
              <any/>
              <dest-ipv4-address>3.3.3.3</dest-ipv4-address>
              <dest-mask>0.0.0.0</dest-mask>
            </ace-rule>
          </access-list-seq-rule>
        </extended>
      </access-list>
    </ip>
  </native>
</config>