<config>
<native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <interface>
      <GigabitEthernet>
      <name>{{INTF_NAME}}</name>
      <switchport-conf nc:operation="remove">
          <switchport>false</switchport>
        </switchport-conf>
      </GigabitEthernet>
     </interface>
</config>