<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <router>
      <bgp xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-bgp" operation="delete">
        <id>100</id>
      </bgp>
    </router>
  </native>
</config>