<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <interface>
      <Loopback operation="remove">
        <name>{{NUMBER}}</name>
      </Loopback>
    </interface>
  </native>
</config>