<config>
 <bgp xmlns="http://openconfig.net/yang/bgp">
   <neighbors>
    <neighbor>
     <neighbor-address>{{NBR_ID}}</neighbor-address>
     <config>
      <neighbor-address>{{NBR_ID}}</neighbor-address>
      <peer-as>{{REMOTE_AS}}</peer-as>
     </config>
    </neighbor>
   </neighbors>
  </bgp>
</config>
