<interfaces xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-interfaces-oper">
  <interface>
    <name>{{INTF_NAME}}</name>
    <statistics>
      <in-octets/>
      <out-octets/>
    </statistics>
  </interface>
</interfaces>